<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<head>
  <meta charset="utf-8">
  <title>Create club</title>
</head>
<body>
<div th:insert="template.html"></div>
<div layout:fragment="navbar">
  <div class="container">
    <div class="card-body">
      <form action="saveClub" method="get">
        <div class="form-group">
          <label class="control-label">Nom club :</label>
          <input type="text" name="nomClub" class="form-control" />
        </div>
        <div class="form-group">
          <label class="control-label">nombre membres :</label>
          <input type="number" name="nbMembre" class="form-control" />
        </div>
        <div class="form-group">
          <label class="control-label">date création :</label>
          <input type="date" name="dateCreation" class="form-control" />
        </div>
        <label class="control-label">Username  :</label>
        <input type="text" name="username" class="form-control" required/>
    </div>
    <div class="form-group">
      <label class="control-label">Nom  :</label>
      <input type="text" name="nom" class="form-control" required/>
    </div>
    <div class="form-group">
      <label class="control-label">Prénom  :</label>
      <input type="text" name="prenom" class="form-control" min="0" required/>
    </div>
    <div class="form-group">
      <label class="control-label">Numéro de téléphone :</label>
      <input type="text" name="tel" class="form-control" required/>
    </div>
    <div class="form-group">
      <label class="control-label">Email </label>
      <input type="text" name="email" class="form-control" required/>
    </div>
    <div class="form-group">
      <label class="control-label">mot de passe  </label>
      <input type="password" name="password" class="form-control" required/>
    </div>
        <div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </form>
    </div>
    <br/>
    <br/>
  </div>
</div>
</body>
</html>
